html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Roboto;
}

.wrapper {
  display: flex;  
  flex-flow: column;
  font-weight: bold;
  height: 100%;
}

#header {
  background: #222222;
  color: #ffffff;
  font-size: 18px;
  font-weight: 200;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 64px;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
}

#nav {
  background: #fafafa;
  color: #212121;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 150px;
  padding-left: 20px;
  border-bottom: 1px solid rgba(0,0,0,.14)
}

#middle {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#overview {
  /* background: gold; */
  flex: 1;
  background-image: url('images/astro.png');
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

#ribbon {
  text-align: left;
  /* background: #fafafa; */
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 150px;
  border-left: 1px solid rgba(0,0,0,.14);
  border-right: 1px solid rgba(0,0,0,.14);
}

#layers {
  /* background: hotpink; */
  flex: 1;
  text-align: center;
}

#footer {
  background: #fafafa;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 64px;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  border-top: 1px solid rgba(0,0,0,.14);
}



/* nav .brand-logo {
    margin-left: 20px;
    font-size: 1.5rem;
}
.nav-wrapper {
    background-color: #222222;
} */




.png {
    position:absolute;
    top:1500px;
    z-index:0;
    width: 500px;
}




.bar:hover {
    opacity: 0.4;
}

.axis--x .tick line {
  visibility: hidden;
}

 .axis--x path{
     visibility:hidden;
 }




.tab a.active {
  /* color:rgb(252, 234, 37)!important; */
  /* background-color:#ffffff!important; */
}
.tabs .tab a:hover {
  /* background-color: #bcaaa4!important; */
  color:#222222!important;
}
.tabs .tab a {
  color: #444444!important;
}
.tabs .indicator{
  background-color:#444444!important;
}
