html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Roboto;
}

/* flexbox */
.wrapper {
  display: flex;  
  flex-flow: column;
  font-weight: bold;
  height: 100%;
}

#header {
  background: #222222;
  color: #ffffff;
  font-size: 18px;
  font-weight: 200;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 64px;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
}

#nav {
  background: #fafafa;
  color: #212121;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 150px;
  padding-left: 20px;
  border-bottom: 1px solid rgba(0,0,0,.14)
}

#middle {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#overview {
  flex: 1;
  background-image: url('images/moreno_names.png');
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  min-width: 200px;
}

#ribbon {
  text-align: left;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 150px;
  border-left: 1px solid rgba(0,0,0,.14);
  border-right: 1px solid rgba(0,0,0,.14);
}

#layers {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  width: 700px;
  min-width: 200px;
}

#footer {
  background: #fafafa;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 64px;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  border-top: 1px solid rgba(0,0,0,.14);
}


/* header*/
#header-wrapper {
    display:block;
    float: left;
    padding: 0;
    margin: 0;
}

#header-text {
    display: float;
    float: left;
    width: 200px;
}

#header-icon {
    float: right;
    display: float;
}

/* nav .brand-logo {
    margin-left: 20px;
    font-size: 1.5rem;
}
.nav-wrapper {
    background-color: #222222;
} */

h1 {
    margin-top: 0;
    margin-bottom: 5px;
}

#graph-description {
    font-size: 14px;
    color: #444444;
    font-weight: 400;
    width: 600px;
}

#vertices, #edges {
    margin-bottom: 5px;
    float: left;
    font-weight: 500;
    color: #222222;
}

#vertices {
    padding-right: 10px;
}

#vertices-value, #edges-value {
    font-weight: 400;
}





.png {
    position:absolute;
    top:1500px;
    z-index:0;
    width: 500px;
}




/* ribbon */
.bar:hover {
    opacity: 0.4;
}

.y-axis .tick line {
  visibility: hidden;
}

.y-axis path{
    visibility: hidden;
}

.y-axis .tick text {
    font-size: 14px;
    font-weight: 400;
}

 .x-axis .tick line, .x-axis path {
     stroke: #222222;
}

 .x-axis text, .y-axis text {
     fill: #222222;
}



.tab a.active {
  /* color:rgb(252, 234, 37)!important; */
  /* background-color:#ffffff!important; */
}
.tabs .tab a:hover {
  /* background-color: #bcaaa4!important; */
  color:#222222!important;
}
.tabs .tab a {
  color: #444444!important;
}
.tabs .indicator{
  background-color:#444444!important;
}



#ribbon {
  /* width: 20px; */
  cursor: col-resize;
}
#glass {
  height: 100%;
  width: 100%;
  cursor: col-resize;
  display: none;
  position: absolute;
}